{{link-to 'Add a Post' 'posts.new' class="btn btn-sm btn-success pull-right"}}
<h3>Posts</h3>
<ul class="list-group">
	{{#each post in model}}
		<li class="list-group-item">
			<button type="button" class="close btn" {{action 'delete' post}}>&times;</button>
			<h4>{{~#link-to 'posts.show' post}}{{post.title}}{{~/link-to}}</h4>
			<div class="button-container">
				{{link-to 'Edit' 'posts.edit' post}}
			</div>
			<br>
			<p>{{post.body}}</p>
		</li>
	{{/each}}
</ul>